[defaults]
inventory = inventory.yml
deprecation_warnings = False
host_key_checking = False

[paramiko_connection]
host_key_auto_add = True
look_for_keys = False

[persistent_connection]
connect_timeout = 30
command_timeout = 30
